.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  background-color: #f5f5f5; 
}

mat-card {
  width: 100%;
  max-width: 400px; 
  padding: 20px;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px !important;
  color: #3f51b5; 
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}