<div class="board-container">
  
  <div class="controls">
    <h3>Add Ticket</h3>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newTicket.title">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="addTicket()">Create</button>
    </div>
  </div>

  <div class="columns-wrapper" cdkDropListGroup>
    
    <div class="kanban-column">
      <h2 class="col-header todo">To Do</h2>
      
      <div
        cdkDropList
        id="todoList"
        [cdkDropListData]="todoTickets"
        (cdkDropListDropped)="drop($event)"
        class="ticket-list">
        
        <mat-card *ngFor="let t of todoTickets" class="ticket-card" cdkDrag>
          <mat-card-content class="card-content">
            <div class="card-text">
              <strong>{{ t.title }}</strong>
              <p>{{ t.description }}</p>
            </div>
            <button mat-icon-button color="warn" (click)="deleteTicket(t)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

    <div class="kanban-column">
      <h2 class="col-header progress">In Progress</h2>
      
      <div
        cdkDropList
        id="progressList"
        [cdkDropListData]="progressTickets"
        (cdkDropListDropped)="drop($event)"
        class="ticket-list">
        
        <mat-card *ngFor="let t of progressTickets" class="ticket-card" cdkDrag>
          <mat-card-content class="card-content">
            <div class="card-text">
              <strong>{{ t.title }}</strong>
              <p>{{ t.description }}</p>
            </div>
            <button mat-icon-button color="warn" (click)="deleteTicket(t)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

    <div class="kanban-column">
      <h2 class="col-header done">Done</h2>
      
      <div
        cdkDropList
        id="doneList"
        [cdkDropListData]="doneTickets"
        (cdkDropListDropped)="drop($event)"
        class="ticket-list">
        
        <mat-card *ngFor="let t of doneTickets" class="ticket-card" cdkDrag>
          <mat-card-content class="card-content">
            <div class="card-text">
              <strong>{{ t.title }}</strong>
              <p>{{ t.description }}</p>
            </div>
            <button mat-icon-button color="warn" (click)="deleteTicket(t)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>
  </div>